#        Properties Overrides
#############################

rabbitmq.host={{ rabbitmq_host | default('localhost') }}
rabbitmq.username={{ rabbitmq_username | default('guest') }}
rabbitmq.password={{ rabbitmq_password | default('guest') }}

