#        Properties Overrides
#############################

## Rabbit
rabbitmq.host={{ rabbitmq_host | default('localhost') }}
rabbitmq.username={{ rabbitmq_username | default('guest') }}
rabbitmq.password={{ rabbitmq_password | default('guest') }}
springproject.rabbit.enabled={{ springproject_rabbit_enabled | default('false') }}

## SQL
spring.datasource.url=jdbc:mysql://{{ spring_datasource_host | default('localhost') }}:3306/{{ spring_datasource_db | default('springproject') }}
spring.datasource.username={{ spring_datasource_username | default('root') }}
spring.datasource.password={{ spring_datasource_password | default('password') }}
spring.datasource.configure={{ spring_datasource_configure | default('false') }}
