<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation ="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <!--TODO: this may affect the service consuming this client, fix?-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

    <context:component-scan base-package="com.anand.springproject.client" />

    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />

    <bean id="springprojectClientRetryTemplate" class="org.springframework.retry.support.RetryTemplate">
        <property name="retryPolicy">
            <bean class="org.springframework.retry.policy.SimpleRetryPolicy">
                <constructor-arg  name="maxAttempts" value="${springproject-client.retry.maxAttempts:3}"/>
                <constructor-arg name="retryableExceptions">
                    <!--Empty retryableExceptionsMap means retry on all exceptions-->
                    <util:map id="retryableExceptionsMap" map-class="java.util.HashMap" key-type="java.lang.Class">
                        <entry key="com.anand.springproject.client.exception.SpringprojectClientRetriableException" value="true" />
                    </util:map>
                </constructor-arg>
            </bean>
        </property>
        <property name="backOffPolicy" >
            <bean class="org.springframework.retry.backoff.ExponentialBackOffPolicy">
                <property name="initialInterval" value="${springproject-client.retry.initialInterval:1000}"/>
                <property name="maxInterval" value="${springproject-client.retry.maxInterval:60000}"/>
                <property name="multiplier" value="${springproject-client.retry.multiplier:2}"/>
            </bean>
        </property>
    </bean>

    <aop:config>
        <aop:pointcut id="springprojectClientPointcut" expression="execution(* com.anand.springproject.client.SpringProjectClient.*(..))" />
        <aop:advisor pointcut-ref="springprojectClientPointcut" advice-ref="springprojectClientRetryAdvice" order="-1"/>
    </aop:config>

    <bean id="springprojectClientRetryAdvice" class="org.springframework.retry.interceptor.RetryOperationsInterceptor">
        <property name="retryOperations" ref="springprojectClientRetryTemplate" />
        <property name="recoverer" ref="retryRecoverer"></property>
    </bean>

</beans>