<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation ="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>file:${APP_HOME}/conf/application-override.properties</value>
                <value>classpath:META-INF/build-info.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.anand.springproject.service" />
    <import resource="springproject-library-context.xml" />


    <bean id="retryTemplate" class="org.springframework.retry.support.RetryTemplate">
        <property name="retryPolicy">
            <bean class="org.springframework.retry.policy.SimpleRetryPolicy">
                <constructor-arg  name="maxAttempts" value="${springproject.retry.maxAttempts:3}"/>
                <constructor-arg name="retryableExceptions">
                    <!--Empty retryableExceptionsMap means retry on all exceptions-->
                    <util:map id="retryableExceptionsMap" map-class="java.util.HashMap" key-type="java.lang.Class">
                        <entry key="java.lang.RuntimeException" value="true" />
                        <entry key="java.lang.IllegalArgumentException" value="false" />
                    </util:map>
                </constructor-arg>
            </bean>
        </property>
        <property name="backOffPolicy" >
            <bean class="org.springframework.retry.backoff.ExponentialBackOffPolicy">
                <property name="initialInterval" value="${springproject.retry.initialInterval:500}"/>
                <property name="maxInterval" value="${springproject.retry.maxInterval:60000}"/>
                <property name="multiplier" value="${springproject.retry.multiplier:2}"/>
            </bean>
        </property>
    </bean>

    <import resource="rabbit-context.xml" />
    <import resource="rabbit-resource-context.xml" />

</beans>